<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <title>{% block title %}你是老炮儿中的谁？{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="full-screen" content="true">
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/mrsix_style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script type="text/javascript" src="http://stock.pingan.com/omm/mobile/phonex/campaign/common/js/adapter.js"></script>
    {% block head %}
    {% endblock %}

    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script>
    wx.config({
        debug: false,
        appId: 'wx0572e52dc3d9139a',
        timestamp: {{ timestamp }},
        nonceStr: '{{ nonceStr }}',
        signature: '{{ signature }}',
        jsApiList: ["onMenuShareTimeline", "onMenuShareAppMessage"]
    });
    wx.ready(function(){
        {% block onMenuShareAppMessage %}
        wx.onMenuShareAppMessage({
            title: '来测测你是《老炮儿》中的谁',
            desc: '你的内心是六爷、小飞还是晓波呢？',
            link: 'http://mrsix.huocc.com/no2/', // 分享链接
            imgUrl: '{% static 'img/mrsix.jpg' %}', // 分享图标
            //type: '', // 分享类型,music、video或link，不填默认为link
            //dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            //success: function () { 
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () { 
            //    // 用户取消分享后执行的回调函数
            //}
        });
        {% endblock %}

        {% block onMenuShareTimeline %}
        wx.onMenuShareTimeline({
            title: '来测测你是《老炮儿》中的谁',
            link: 'http://mrsix.huocc.com/no2/',
            imgUrl: '{% static 'img/mrsix.jpg' %}',
            //success: function () { 
            //    // 用户确认分享后执行的回调函数
            //},
            //cancel: function () { 
            //    // 用户取消分享后执行的回调函数
            //}
        });
        {% endblock %}
    });
    wx.error(function(res){
    });
    </script>

</head>


<body>

    <!--
    <div style="display:none">
        <img src="{% static 'img/mrsix.jpg' %}" />
    </div>
    -->

    {% block content %}
    {% endblock %}

    <div style="display:none">
        <script src="http://s95.cnzz.com/z_stat.php?id=1256999889&web_id=1256999889" language="JavaScript"></script>
    </div>

</body>
</html>
